# Maven & Java
target/
*.class
*.jar
*.war
*.ear
.mvn/wrapper/maven-wrapper.jar

# Environment Variables
.env
.env.*
**/.env
**/.env.*

# IDE & Editors
.vscode/
.idea/
*.iml

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log